.description {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-image: url();
}

body {
    width: 100%;
    height: 100%;
}

