#description {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-color: #343A40;
    justify-content: center;
    width: 100vw;
    height: 110vh;
    align-items: center;
}

.pic {
    border-radius: 400px;
    height: 250px;
}

body {
    width: 100%;
    height: 100%;
}

.front {
    color: whitesmoke;
    align-self: center;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #343A40;
}

.front p {
    font-size: xx-large;
    text-align: center;
    padding-top: 2em;
    max-width: 60vw;
    font-family: monospace;
}

.between h1 {
    color: white;
    width: 100%;
    padding: 1em;
    text-align: center;
    font-size: xx-large;
    background-color: #343A40;

}

.logo {
    color: white;
    padding: 1em;
}

.snip { 
    padding: 1em;
    background-color: #343A40;
    color: white;
}


.one {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.snip .pic {
    color: yellowgreen;
}


  @media (max-width: 425px) {
    #grid-container div {
        height: 70%;
        border: 5px solid #343A40;
        /* height: 70vh; */
    }
    .front p {
        font-size: x-large;
        text-align: center;
        padding-top: 2em;
        max-width: 80vw;
        font-family: monospace;
    }
    .between h1 {
        width: 100%;
        padding: 1em;
        text-align: center;
        font-size: x-large;
        
    }
    #grid-container div {
        height: 73%;
        border: 15px solid #343A40;
        height: 17vh;
        padding-bottom: .5em;
    }

    #grid-container a {
        color: white;
        font-size: 16px;
    }
  }

  @media (min-width: 426px) and (max-width: 768px) {
    #grid-container div {
        height: 73%;
        border: 15px solid #343A40;
        height: 35vh;
        padding-bottom: 5em;
    }
    #grid-container a {
        color: white;
        font-size: larger;
    }
 }

 @media (min-width: 769px) and (max-width: 1024px) {
    #grid-container div {
        height: 73%;
        border: 15px solid #343A40;
        height: 45vh;
        padding-bottom: 5em;
    }
    #grid-container a {
        color: white;
        font-size: x-large;
    }
 }

 @media (min-width: 1025px) and (max-width: 1440px) {
    #grid-container div {
        height: 73%;
        border: 15px solid #343A40;
        height: 55vh;
        padding-bottom: 5em;
    }
    #grid-container a {
        color: white;
        font-size: x-large;
    }
 }
 
 #download { 
    padding: 1em;
    background-color: #343A40;
    color: white;
    text-decoration: none;
}

#experience {
    background-color: #343A40;

}

#pic1 {
    background-color: #343A40;

}

.grid3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#resume-button {
    border: 2px solid;
}

.mini {
    display: flex;
    flex-wrap: wrap;

}

#item1 {
    padding-right: 10px;
}

#item2 {
    padding-left: 10px;
}

.folders {
    display: flex;
    justify-content: center;
    color: white;
    padding: 1em;
}

#grid-container {
    display: flex;
    justify-content: center;
}

